@import '../abstract/variables';
@import '../abstract/media-queries';

.primary-button {
    background-color: $dark-color;
    color: $secondary-color;
    font-size: $body-size; 
    font-size: $body-size;
    border: none;
    border-radius: 8px;
    transition: 400ms;
    width: 180px;
    height: 64px;
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
    }
    @include tablet {
        font-size: $mobile-size;
        font-weight: 200;
        width: 160px;
        height: 56px;
    }
    @include mobile {
        font-size: $mobile-size;
        font-weight: 200;
        width: 160px;
        height: 56px;
    }
}

.secondary-button {
    background-color: $active-color;
    color: $secondary-color;
    font-size: $body-size; 
    font-size: $body-size;
    border: none;
    border-radius: 8px;
    transition: 400ms;
    width: 180px;
    height: 64px;
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
    }
    @include tablet {
        font-size: $mobile-size;
        font-weight: 200;
        width: 160px;
        height: 56px;
    }
    @include mobile {
        font-size: $mobile-size;
        font-weight: 200;
        width: 160px;
        height: 56px;
    }
}