@import '../abstract/variables';

.hero-bg-container {
    position: absolute;
    margin-top: -10vh;
    margin-left: 17vw;
    z-index: -1;
    .hero-bg-image { 
        height: 100%;
        width: auto;
    }
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: flex start;
    margin: 0 $main-section-margin 5vh;
    height: 75vh;
    z-index: 1;
    .hero-content {
        flex-flow: column wrap;
        height: auto;
        width: 50%;
        .hero-content-description {
            justify-content: space-between;
            padding-right: 6rem;
            .hero-d1 {
                margin-top: 0;
                margin-bottom: 0;
                font-size: $display1-font-size;
                color: $d1-color;
                font-weight: bolder;
            }
            .description-text {
                line-height: $paragraph-text-spacing;
            }
            .recent-work-button {
                margin-bottom: 1rem;
            }
        }
        .scroll-down-container{
            display: flex;
            align-items: flex-end;
            height: auto;
            .scroll-down-arrow {
                margin-right: 1rem;
            }
        }
    }
    .hero-img-container {
        margin-left: -10vw;
        margin-top: -2.5vh;
        height: auto;
        .hero-img {
            // width: auto;
            height: 95%;
        }
    }
}