@import '../abstract/variables';
@import '../abstract/media-queries';
@import './buttons';

.hero-container {
    width: 1440px;
    height: 896px;
    @include tablet {
        width: 1024px;
        height: 768px;
        @include mobile {
            width: 375px;
            height: 687px;
        }
    }
    .hero-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 467px;
        height: 548px;
        padding-top: 110px;
        padding-left: 135px;
        @include tablet { 
            width: 332px;
            height: 412px;
            padding-top: 73px;
            padding-left: 107px;
        }
        @include mobile {
            width: 311px;
            height: 356px;
            padding-top: 0;
            padding-left: 32px;
        }
        .display1 {
            font-size: $display1-size;
            color: $dark-color;
            font-weight: bolder;
            @include tablet {
                font-size: $d1-tablet-size;
            }
            @include mobile {
                font-size: $d1-mobile-size;
            }
        }
        .hero-description {
            line-height: $paragraph-text-spacing;
            padding-right: 90px;
            @include tablet {
                font-size: $tablet-size;
                padding-right: 20px;
            }
            @include mobile {
                padding-right: 0px;
            }
        }
    }

    .scroll-wrapper {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 639px;
        margin-right: 107px;
        width: 158px;
        height: 48px;
        @include tablet {
            margin-top: 451px;
        }
        .scroll-arrow {
            width: 40px;
            height: 40px;
            margin-right: 16px;
            @include mobile {
                display: none;
            }
        }
        .scroll-desktop {
            font-weight: 600;
            @include tablet {
                display: none;
            }
        }
        .scroll-tablet {
            display: none;
            @include tablet {
                display: inline;
            }
            @include mobile {
                display: none;
            }
        }
    }
}
.hero-bg {
    position: absolute;
    top: 1px;
    left: 321px;
    width: 642px;
    height: 819px;
    z-index: -2;
    @include tablet {
        left: 228px;
        width: 457px;
        height: 583px; 
    }
    @include mobile {
        top: -15px;
        left: 176px;
        width: 456px;
        height: 582px;
    }
}
.hero-img {
    position: absolute;
    top: 222px;
    left: 406px;
    @include tablet {
        top: 158px;
        left: 368px;
    }
    @include mobile {
        top: 449px;
        left: 37px;
    }
    .hero-pc {
        width: 924px;
        height: 722px;
        @include tablet {
            width: 565px;
            height: 513px;
        }
        @include mobile {
            width: 405px;
            height: 363px;
            overflow: hidden;
        }
    }
}