@import '../abstract/variables';
@import '../abstract/media-queries';
@import './buttons';
@import './notifications';

.nav-container {
    width: 1440px;
    height: 128px;
    @include tablet {
        width: 1024px;
        height: 96px;
    }
    @include mobile {
        width: 375px;
        height: 128px;
    }
    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1296px;
        height: 64px;
        // background: blue;
        padding-top: 64px;
        padding-left: 72px;
        @include tablet {
            width: 924px;
            height: 56px;
            padding-top: 40px;
            padding-left: 50px;
        }
        @include mobile {
            width: 311px;
            height: 32px;
            padding-top: 52px;
            padding-left: 32px;
        }
        .nav-logo {
            width: 159px;
            height: 40px;
            @include tablet {
                width: 127px;
                height: 32px;
            }
            @include mobile {
                width: 127px;
                height: 32px;
            }
        }
        .nav-menu {
            width: 392px;
            height: 24px;
            @include tablet {
                width: 346px;
                height: 22px;
            }
            @include mobile  {
                display: none;
            }
            .menu-items {
                display: flex;
                justify-content: space-between;
                a {
                    text-decoration: none;
                    font-weight: 500;
                    color: $primary-color;
                    font-size: $body-size;
                    font-weight: 600;
                    cursor: pointer;
                }
                .nav-active {
                    color: $active-color;
                }
                .nav-deactive {
                    color: $deactive-color;
                }
            }
        }
        .navbar-button {
            @include mobile {
                display: none;
            }
        }
        .nav-mobile {
            display: none;
            @include tablet {
                display: none;
            }
            @include mobile {
                display: inline;
            }
        }
    }
}