@import '../abstract/variables';
@import '../abstract/media-queries';

.notification {
    position: relative;
    height: 24px;
    width: 24px;
    border: none;
    border-radius: 50%;
    background: linear-gradient(#3A8FFF, #0837AE);
    .notification-text {
        position: absolute;
        top: -2px;
        left: 8px;
        height: 18px;
        width: 9px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
    }
}