@import '../abstract/variables';
@import '../abstract/media-queries';
@import './buttons';

.partnerships-container {
    display: flex;
    @include tablet {
        flex-direction: column;
        justify-content: space-between;
        width: 1024px;
        height: 2347px;
        // background-color: peachpuff;
    }
    @include mobile {
        flex-direction: column;
        justify-content: space-around;
        width: 375px;
        height: 3484px;
    }
    .title-content {
        @include tablet {
            margin: 0 auto;
            width: 821px;
        }
        @include mobile {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 311px;
            height: 238px;
            margin-left: 32px;
            // margin-top: 128px;
        }
        .partnerships-wrapper {
            @include tablet {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 680px;
                height: 195px;
                margin-left: 15%;
            }
            @include mobile {
                display: contents;
            }
            .partnerships-title {
                color: $dark-color;
                @include tablet {
                    font-size: $d1-tablet-size;
                    width: 485px;
                    height: 72px;
                }
                @include mobile {
                    font-size: $h4-mobile-size;
                    width: 255px;
                    height: 96px;
                }
            }
            .partnerships-description {
                @include tablet {
                    width: 329px;
                    font-size: $tablet-size;
                }
                @include mobile {
                    width: 311px;
                    font-size: $tablet-size;
                }
            }

        }
        .partnerships-subtitle {
            display: flex;
            justify-content: space-between;
            @include tablet {
                width: 302px;
                height: 29px;
                margin-bottom: 24px;
            }
            @include mobile {
                width: 161px;
                height: 18px;
                margin-bottom: 0;
            }
            .subtitle-logo {
                @include tablet {
                    width: 24px;
                    height: 24px;
                }
                @include mobile {
                    display: none;
                }
            }
            .subtitle-wrapper {
                @include tablet {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    width: 184px;
                    height: 24px;
                }
                @include mobile {
                    display: contents;
                }
            }
        }
        .secondary-button {
            @include tablet {
                float: right;
                margin-top: 0px;
                width: 118px;
                height: 45px;
            }
            @include mobile {
                display: none;
            }
        }
    }
    .cards-wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-left: 32px;
        margin: 0 auto;
        position: relative;
        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
            width: 821px;
            height: 2034px;
        }
        @include mobile {
            flex-direction: column;
            width: 313px;
            height: 3048px;
        }
        .featured-bg {
            @include tablet {
                position: absolute;
                right: -16%;
                z-index: -1;
                width: 554px;
                height: 492px;;
            }
            @include mobile {
                display: none;
            }
        }
        .partnerships-card {
            display: flex;
            justify-content: space-evenly;
            @include mobile {
                flex-direction: column;
                width: 312px;
                height: 584px;
            }
            .featured-img {
                position: relative;
                @include mobile {
                    border: none;
                    border-radius: 17px;
                    width: 311px;
                    height: 356px;
                }
                .featured-button {
                    position: absolute;
                    top: 303px;
                    left: 24px;
                    z-index: 2;
                }
            }
            .first-img {
                background-color: #FFBA79;
            }
            .card-title {
                color: $dark-color;
            }
            .card-description {
                @include mobile {
                    padding-right: 84px;
                }
            }
            .second-img {
                background-color: #E8BEFF;
            }
            .third-img {
                background-color: #FFCE79;
            }
            .fourth-img {
                background-color: #D1ECFD;
            }
            .fifth-img {
                background-color: #FFBA79;
            }
        }
        .partnerships-button {
            display: block;
            @include mobile {
                width: 313px;
                height: 46px;
            }
            .secondary-button {
                width: 100%;
                height: 100%;
            }
        }

    }
}