@import '../abstract/variables';
@import '../abstract/media-queries';
@import './arrows';
@import './buttons';

.whatwedo-container {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.504289) 100%);
    z-index: 0;
    @include tablet {
        justify-content: space-between;
        max-width: 1024px;
        height: 1510px;
    }
    @include mobile {
        justify-content: space-around;
        width: 375px;
        height: 2419px;
    }
    .whatwedo-bg1 {
        position: absolute;
        z-index: -1;
        opacity: 0.25;
        @include tablet {
            top: 0px;
            left: 81px;
            width: 456px;
            height: 582px;
        }
        @include mobile {
            top: 902px;
            left: 0;
            width: 468px;
            height: 555px;
            overflow: hidden;
        }
    }
    .whatwedo-bg2 {
        position: absolute;
        z-index: -1;
        opacity: 0.25;
        @include tablet {
            top: 669px;
            left: 655px;
            width: 468px;
            height: 554px;
        }
        @include mobile {
            top: 1885px;
            left: 0px;
            width: 375px;
            height: 579px;
            overflow: hidden;
        }
    }
    .whatwedo-wrapper {
        display: flex;
        @include tablet {
            flex-direction: column;
            width: 837px;
            height: 160px;
            margin: 112px auto 0 auto;
        }
        @include mobile {
            flex-direction: column;
            justify-content: space-between;
            width: 311px;
            height: 304px;
            padding-top: 128px;
            margin: 0 auto;
            margin-bottom: 56px;
            z-index: 0;
        }
        .subtitle {
            display: flex;
            justify-content: space-between;
            @include tablet {
                width: 302px;
            }
            @include mobile {
                width: 131px;
                height: 18px;
            }
            .active {
                color: $active-color;
                font-weight: 600px;
            }
            .subtitle-logo {
                @include tablet {
                    width: 24px;
                    height: 24px;
                }
                @include mobile {
                    display: none;
                }
            }
            .whatwedo-description {
                display: flex;
                @include tablet {
                    justify-content: space-between;
                    width: 150px;
                    height: 24px;

                }
                @include mobile {
                    justify-content: space-between;
                    width: 131px;
                    height: 18px;
                }
            }
        }
        .whatwedo-title {
            align-self: flex-start;
            font-weight: 600;
            @include tablet {
                align-self: center;
                margin-left: -56px;
                margin-top: 24px;
                width: 475px;
                height: 112px;
                color: $dark-color;
                font-size: $h4-mobile-size;
                font-weight: 700;
            }
            @include mobile {
                width: 245px;
                height: 192px;
                font-size: $h4-mobile-size;
                color: $dark-color;
                font-weight: 700;
            }
        }
        .arrows-nav {
            display: flex;
            @include tablet {
                position: absolute;
                top: 151px;
                right: 90px;
                width: 108px;
                height: 46px;
            }
            @include mobile {
                position: relative;
                top: 0;
                right: 0;

            }
        }
    }
    .cards-wrapper {
        display: flex;
        @include tablet {
            flex-direction: row;
            width: 821px;
            height: 340px;
            margin: 28px auto 0 auto;
            background-color: $secondary-color;
            border-radius: 32px;
            box-shadow: 0px 6px rgba(255, 255, 255, 0.5);
            
        }
        @include mobile {
            flex-direction: column;
            justify-content: space-between;
            width: 311px;
            height: 856px;
            margin-bottom: 56px;
            padding-bottom: 24px;
            background-color: transparent;
        }
        .card-service {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color: $secondary-color;
            color: $active-color;
            cursor: pointer;
            transition: 400ms;
            &:hover {
                background-color: $active-color;
                color: $secondary-color;
            }
            @include tablet {
                justify-content: center;
                width: 821px;
                height: 340px;
                border-radius: 32px;
                display: flex;
                flex-direction: column;
            }
            @include mobile {
                flex-direction: row;
                justify-content: space-evenly;
                width: 311px;
                height: 190px;
                border-radius: 32px;
                box-shadow: 0px 8px rgba(255, 255, 255, 0.5);
            }
        }
        .card-active {
            @include tablet {
                margin-top: -28px;
                height: 398px;
                background-color: $active-color;
                color: $secondary-color;
                &:hover {
                    background-color: $secondary-color;
                    color: $active-color;
                }
            }
            @include mobile {
                margin-top: 0;
                background-color: $active-color;
                color: $secondary-color;
                height: auto;
                &:hover {
                    background-color: $secondary-color;
                    color: $active-color;
            }
        }
    }
        .card-img {
            @include tablet {
                width: 93px;
                height: 88px;
                margin-bottom: 32px;
            }
            @include mobile {
                width: 91px;
                height: 91px;
                margin-top: 49px;
            }
        }
    }
    .achievement-wrapper {
        display: flex;
        margin: 0 auto;
        @include tablet {
            position: relative;
            flex-direction: column;
            justify-content: space-between;
            width: 398px;
            height: 399px;
            margin: 0 50%;
            margin-top: 190px;
        }
        @include mobile {
            flex-direction: column;
            justify-content: space-between;
            width: 311px;
            height: 399px;
            margin-top: 0;
            margin-bottom: 30px;
            margin: 0 auto;
        }
        .achievement-subtitle-wrapper {
            display: flex;
            @include tablet {
                width: 225px;
                justify-content: space-between;
                height: 24px;
            }
            .logo-wrapper {
                @include mobile {
                    display: none;
                }
            }
            .subtitle {
                display: flex;
                justify-content: space-between;
                @include tablet {
                    width: 156px;
                }
                @include mobile {
                    width: 156px;
                    height: 24px;
                }
                .deactive {
                    color: $deactive-color;
                }
                .content {
                    color: $dark-color;
                    font-weight: 600;
                }
            }
        }
        .achievement-title {
            color: $dark-color;
            line-height: 32px;
            @include tablet {
                font-size: $h6-mobile-size;
                font-weight: 700;
            }
            @include mobile {
                font-size: $h6-mobile-size;
                font-weight: 600;
                padding-right: 30%;
            }
        }
        .project-counter-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include mobile {
                width: 200px;
                height: 191px;
            }
            .project-counter {
                color: $active-color;
                font-size: 140px;
            }
            .counter-title {
                font-weight: 600;
                color: $dark-color;
                font-size: 18px;
            }
        }
    }
    .image-wrapper {
        display: flex;
        position: relative;
        @include mobile {
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 375px;
        }
        .img-desktop {
            @include tablet {
                display: none;
            }
            @include mobile {
                display: none;
            }
        }
        .phone-mobile {
            display: none;
            @include tablet {
                position: absolute;
                display: block;
                top: -539px;
                left: 107px;
            }
            @include mobile {
                position: relative;
                top: 0;
                left: 0;
                display: block;
                width: 350px;
                height: 460px;
                margin-bottom: 56px;
            }
        }
        .pagination {
            @include tablet {
                margin-bottom: 105px;
                margin-left: 228px;
            }
            @include mobile {
                width: 69px;
                height: 12px;
                margin-bottom: 0;
                margin-left: 0;
            }
        }
    }
}