// Fonts
$font: 'SF Pro Display', -apple-system, BlinkMacSystemFont, sans-serif;

// Fonts-size
$body-size: 18px;
$tablet-size: 16px;
$mobile-size: 16px;
$display1-size: 84px;
$d1-tablet-size: 64px;
$d1-mobile-size: 48px;
$h2-titles-size: 64px;
$h2-mobile-size: 48px;
$h4-mobile-size: 40px;
$h6-mobile-size: 24px;

// Font-colors
$primary-color: #606060;
$secondary-color: #FFF;
$active-color: #5468E7;
$deactive-color: #ADADAD;
$dark-color: #232340;

// Text-spacing
$paragraph-text-spacing: 28px;

$primary-bg-color: #232340;


// Media-queries-breakpoints
$tablet-breakpoint: 1025px;
$mobile-breakpoint: 480px;