// Fonts
$font: -apple-system, BlinkMacSystemFont, sans-serif;

// Fonts-size
$body-font-size: 18px;
$navbar-font-size: 24px;
$button-font-size: 24px;
$display1-font-size: 84px;
$h2-titles-font-size: 64px;

// Font-colors
$body-color: #606060;
$active-color: #5468E7;
$deactive-color: #ADADAD;
$d1-color: #232340;

// Text-spacing
$paragraph-text-spacing: 2;

// Button-colors
$primary-button-color: #232340;
$secondary-button-color: #FFF;
$terciary-button-color: #5468E7;

//$ Button-border-radius
$primary-button-border-radius: 8px;

// Sections-lateral-margins
$main-section-margin: 12vw;

// Background-colors
$primary-bg-color: #232340;
