@font-face {
  font-family: "SF Pro Display";
  src: url("../../fonts/SFPRODISPLAYREGULAR.OTF");
}
html, body {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 18px;
  color: #606060;
  text-align: left;
  font-weight: 400;
  margin: 0 0;
  width: 1440px;
}
@media screen and (max-width: 1025px) {
  html, body {
    font-size: 16px;
    width: 1024px;
  }
}
@media screen and (max-width: 376px) {
  html, body {
    font-size: 16px;
    width: 375px;
  }
}
html h1, body h1 {
  font-size: 84px;
}
@media screen and (max-width: 1025px) {
  html h1, body h1 {
    font-size: 48px;
  }
}
@media screen and (max-width: 376px) {
  html h1, body h1 {
    font-size: 48px;
  }
}
html h2, body h2 {
  font-size: 64px;
  font-weight: 700;
}
@media screen and (max-width: 1025px) {
  html h2, body h2 {
    font-size: 48px;
  }
}
@media screen and (max-width: 376px) {
  html h2, body h2 {
    font-size: 48px;
  }
}
@media screen and (max-width: 1025px) {
  html h4, body h4 {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
  }
}
@media screen and (max-width: 376px) {
  html h5, body h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (max-width: 376px) {
  html h6, body h6 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }
}
html a, body a {
  cursor: pointer;
}
html p, body p {
  line-height: 32px;
}
@media screen and (max-width: 1025px) {
  html p, body p {
    line-height: 28px;
  }
}
@media screen and (max-width: 376px) {
  html p, body p {
    line-height: 28px;
  }
}
html img, body img {
  width: 100%;
}
html .active, body .active {
  color: #5468E7;
  font-weight: 600;
}

.primary-button {
  background-color: #232340;
  color: #FFF;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  transition: 400ms;
  width: 180px;
  height: 64px;
  cursor: pointer;
}
.primary-button:hover {
  transform: scale(1.05);
  background-color: #FFF;
  color: #232340;
}
@media screen and (max-width: 1025px) {
  .primary-button {
    font-size: 16px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}
@media screen and (max-width: 376px) {
  .primary-button {
    font-size: 16px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}

.secondary-button {
  background-color: #5468E7;
  color: #FFF;
  font-size: 18px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  transition: 400ms;
  width: 180px;
  height: 64px;
  cursor: pointer;
}
.secondary-button:hover {
  transform: scale(1.05);
  background-color: #FFF;
  color: #5468E7;
}
@media screen and (max-width: 1025px) {
  .secondary-button {
    font-size: 16px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}
@media screen and (max-width: 376px) {
  .secondary-button {
    font-size: 16px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}

.terciary-button {
  background-color: #908CFF;
  color: #FFF;
  font-size: 9px;
  font-weight: 600;
  border: none;
  border-radius: 14px;
  transition: 400ms;
  width: 118px;
  height: 25px;
  cursor: pointer;
}
.terciary-button:hover {
  transform: scale(1.05);
  background-color: #FFF;
  color: #908CFF;
}

.fourth-button {
  background-color: #FFF;
  color: #5468E7;
  font-size: 16px;
  font-weight: lighter;
  border: none;
  border-radius: 8px;
  transition: 400ms;
  cursor: pointer;
}
.fourth-button:hover {
  transform: scale(1.05);
  background-color: #FFF;
  color: #908CFF;
}

.notification {
  position: relative;
  height: 24px;
  width: 24px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(#3A8FFF, #0837AE);
}
.notification .notification-text {
  position: absolute;
  top: -2px;
  left: 8px;
  height: 18px;
  width: 9px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}

.nav-container {
  width: 100%;
  height: 128px;
}
@media screen and (max-width: 1025px) {
  .nav-container {
    width: 100%;
    height: 96px;
  }
}
@media screen and (max-width: 376px) {
  .nav-container {
    width: 375px;
    height: 128px;
  }
}
.nav-container .nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1296px;
  height: 64px;
  padding-top: 64px;
  padding-left: 72px;
  position: relative;
  margin: 0 auto;
}
@media screen and (max-width: 1025px) {
  .nav-container .nav-wrapper {
    width: 924px;
    height: 56px;
    padding-top: 40px;
    padding-left: 50px;
  }
}
@media screen and (max-width: 376px) {
  .nav-container .nav-wrapper {
    width: 311px;
    height: 32px;
    padding-top: 52px;
    padding-left: 0px;
    margin: 0 auto;
  }
}
.nav-container .nav-wrapper .nav-logo {
  width: 159px;
  height: 40px;
}
@media screen and (max-width: 1025px) {
  .nav-container .nav-wrapper .nav-logo {
    width: 127px;
    height: 32px;
  }
}
@media screen and (max-width: 376px) {
  .nav-container .nav-wrapper .nav-logo {
    width: 127px;
    height: 32px;
  }
}
.nav-container .nav-wrapper .nav-menu {
  width: 392px;
  height: 24px;
}
@media screen and (max-width: 1025px) {
  .nav-container .nav-wrapper .nav-menu {
    position: relative;
    width: 346px;
    height: 22px;
  }
}
@media screen and (max-width: 376px) {
  .nav-container .nav-wrapper .nav-menu {
    display: none;
  }
}
.nav-container .nav-wrapper .nav-menu .menu-items {
  display: flex;
  justify-content: space-between;
}
.nav-container .nav-wrapper .nav-menu .menu-items a {
  text-decoration: none;
  font-weight: 500;
  color: #606060;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.nav-container .nav-wrapper .nav-menu .menu-items .nav-active {
  color: #5468E7;
}
.nav-container .nav-wrapper .nav-menu .menu-items .nav-deactive {
  color: #ADADAD;
}
.nav-container .nav-wrapper .nav-menu .notification {
  position: absolute;
  top: 72px;
  left: 924px;
}
@media screen and (max-width: 1025px) {
  .nav-container .nav-wrapper .nav-menu .notification {
    top: -10px;
    left: 353px;
  }
}
@media screen and (max-width: 376px) {
  .nav-container .nav-wrapper .nav-menu .notification {
    display: none;
  }
}
.nav-container .nav-wrapper .nav-menu .notification .notification-text {
  left: 8px;
  top: -2px;
}
@media screen and (max-width: 376px) {
  .nav-container .nav-wrapper .navbar-button {
    display: none;
  }
}
.nav-container .nav-wrapper .menu-wrap {
  display: none;
}
@media screen and (max-width: 1025px) {
  .nav-container .nav-wrapper .menu-wrap {
    display: none;
  }
}
@media screen and (max-width: 376px) {
  .nav-container .nav-wrapper .menu-wrap {
    display: block;
  }
  .nav-container .nav-wrapper .menu-wrap .hamburguer {
    position: relative;
    margin-top: 20px;
    left: 10px;
    width: 32px;
    height: 12px;
    display: flex;
    transition: all 0.4s ease;
    z-index: 1;
    background-color: white;
  }
  .nav-container .nav-wrapper .menu-wrap .hamburguer div {
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 2px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-container .nav-wrapper .menu-wrap .hamburguer div:before {
    content: "";
    position: absolute;
    top: 0px;
    width: 32px;
    height: 2px;
    background-color: red;
  }
  .nav-container .nav-wrapper .menu-wrap .hamburguer div:after {
    content: "";
    position: absolute;
    top: 10px;
    width: 100%;
    height: 2px;
    background-color: red;
  }
}

.primary-button {
  background-color: #232340;
  color: #FFF;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  transition: 400ms;
  width: 180px;
  height: 64px;
  cursor: pointer;
}
.primary-button:hover {
  transform: scale(1.05);
  background-color: #FFF;
  color: #232340;
}
@media screen and (max-width: 1025px) {
  .primary-button {
    font-size: 16px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}
@media screen and (max-width: 376px) {
  .primary-button {
    font-size: 16px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}

.secondary-button {
  background-color: #5468E7;
  color: #FFF;
  font-size: 18px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  transition: 400ms;
  width: 180px;
  height: 64px;
  cursor: pointer;
}
.secondary-button:hover {
  transform: scale(1.05);
  background-color: #FFF;
  color: #5468E7;
}
@media screen and (max-width: 1025px) {
  .secondary-button {
    font-size: 16px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}
@media screen and (max-width: 376px) {
  .secondary-button {
    font-size: 16px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}

.terciary-button {
  background-color: #908CFF;
  color: #FFF;
  font-size: 9px;
  font-weight: 600;
  border: none;
  border-radius: 14px;
  transition: 400ms;
  width: 118px;
  height: 25px;
  cursor: pointer;
}
.terciary-button:hover {
  transform: scale(1.05);
  background-color: #FFF;
  color: #908CFF;
}

.fourth-button {
  background-color: #FFF;
  color: #5468E7;
  font-size: 16px;
  font-weight: lighter;
  border: none;
  border-radius: 8px;
  transition: 400ms;
  cursor: pointer;
}
.fourth-button:hover {
  transform: scale(1.05);
  background-color: #FFF;
  color: #908CFF;
}

.notification {
  position: relative;
  height: 24px;
  width: 24px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(#3A8FFF, #0837AE);
}
.notification .notification-text {
  position: absolute;
  top: -2px;
  left: 8px;
  height: 18px;
  width: 9px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}

.primary-button {
  background-color: #232340;
  color: #FFF;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  transition: 400ms;
  width: 180px;
  height: 64px;
  cursor: pointer;
}
.primary-button:hover {
  transform: scale(1.05);
  background-color: #FFF;
  color: #232340;
}
@media screen and (max-width: 1025px) {
  .primary-button {
    font-size: 16px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}
@media screen and (max-width: 376px) {
  .primary-button {
    font-size: 16px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}

.secondary-button {
  background-color: #5468E7;
  color: #FFF;
  font-size: 18px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  transition: 400ms;
  width: 180px;
  height: 64px;
  cursor: pointer;
}
.secondary-button:hover {
  transform: scale(1.05);
  background-color: #FFF;
  color: #5468E7;
}
@media screen and (max-width: 1025px) {
  .secondary-button {
    font-size: 16px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}
@media screen and (max-width: 376px) {
  .secondary-button {
    font-size: 16px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}

.terciary-button {
  background-color: #908CFF;
  color: #FFF;
  font-size: 9px;
  font-weight: 600;
  border: none;
  border-radius: 14px;
  transition: 400ms;
  width: 118px;
  height: 25px;
  cursor: pointer;
}
.terciary-button:hover {
  transform: scale(1.05);
  background-color: #FFF;
  color: #908CFF;
}

.fourth-button {
  background-color: #FFF;
  color: #5468E7;
  font-size: 16px;
  font-weight: lighter;
  border: none;
  border-radius: 8px;
  transition: 400ms;
  cursor: pointer;
}
.fourth-button:hover {
  transform: scale(1.05);
  background-color: #FFF;
  color: #908CFF;
}

.hero-container {
  width: 1440px;
  height: 1024px;
  margin: -128px auto 0 auto;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 1025px) {
  .hero-container {
    width: 1024px;
    height: 768px;
  }
}
@media screen and (max-width: 1025px) and (max-width: 376px) {
  .hero-container {
    margin-top: -128px;
    width: 100%;
    height: 812px;
  }
}
.hero-container .hero-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 467px;
  height: 548px;
  padding-top: 110px;
  margin: 0 auto;
  margin-top: 128px;
  position: absolute;
}
@media screen and (max-width: 1025px) {
  .hero-container .hero-wrapper {
    width: 332px;
    height: 412px;
    padding-top: 73px;
    padding-left: 107px;
    margin-top: 128px;
  }
}
@media screen and (max-width: 376px) {
  .hero-container .hero-wrapper {
    width: 311px;
    height: 356px;
    padding-top: 0;
    padding-left: 0;
    margin: 0 auto;
    margin-top: 128px;
  }
}
@media screen and (max-width: 1025px) {
  .hero-container .hero-wrapper .hero-title {
    width: 332px;
  }
}
@media screen and (max-width: 376px) {
  .hero-container .hero-wrapper .hero-title {
    width: 280px;
  }
}
.hero-container .hero-wrapper .display1 {
  font-size: 84px;
  color: #232340;
  font-weight: bolder;
  line-height: 56px;
}
@media screen and (max-width: 1025px) {
  .hero-container .hero-wrapper .display1 {
    font-size: 64px;
  }
}
@media screen and (max-width: 376px) {
  .hero-container .hero-wrapper .display1 {
    font-size: 48px;
  }
}
.hero-container .hero-wrapper .hero-description {
  line-height: 28px;
  padding-right: 90px;
}
@media screen and (max-width: 1025px) {
  .hero-container .hero-wrapper .hero-description {
    font-size: 16px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 376px) {
  .hero-container .hero-wrapper .hero-description {
    padding-right: 0px;
  }
}
.hero-container .scroll-wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 639px;
  margin-right: 107px;
  width: 158px;
  height: 48px;
}
@media screen and (max-width: 1025px) {
  .hero-container .scroll-wrapper {
    margin-top: 451px;
  }
}
.hero-container .scroll-wrapper .scroll-arrow {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}
@media screen and (max-width: 376px) {
  .hero-container .scroll-wrapper .scroll-arrow {
    display: none;
  }
}
.hero-container .scroll-wrapper .scroll-desktop {
  font-weight: 600;
}
@media screen and (max-width: 1025px) {
  .hero-container .scroll-wrapper .scroll-desktop {
    display: none;
  }
}
.hero-container .scroll-wrapper .scroll-tablet {
  display: none;
}
@media screen and (max-width: 1025px) {
  .hero-container .scroll-wrapper .scroll-tablet {
    display: inline;
  }
}
@media screen and (max-width: 376px) {
  .hero-container .scroll-wrapper .scroll-tablet {
    display: none;
  }
}

.hero-bg {
  position: absolute;
  top: 1px;
  left: 321px;
  width: 642px;
  height: 819px;
  z-index: -2;
  overflow: hidden;
}
@media screen and (max-width: 1025px) {
  .hero-bg {
    left: 228px;
    width: 457px;
    height: 583px;
  }
}
@media screen and (max-width: 376px) {
  .hero-bg {
    top: -128px;
    left: 176px;
    width: 456px;
    height: 582px;
    overflow: hidden;
  }
}

.hero-img {
  position: absolute;
  top: 0px;
  left: 406px;
}
@media screen and (max-width: 1025px) {
  .hero-img {
    top: 73px;
    left: 282px;
  }
}
@media screen and (max-width: 376px) {
  .hero-img {
    top: 449px;
    left: 37px;
  }
}
.hero-img .hero-pc {
  width: 924px;
  height: 722px;
  overflow: hidden;
}
@media screen and (max-width: 1025px) {
  .hero-img .hero-pc {
    width: 665px;
    height: 513px;
  }
}
@media screen and (max-width: 376px) {
  .hero-img .hero-pc {
    display: block;
    width: 405px;
    height: 363px;
  }
}

.primary-button {
  background-color: #232340;
  color: #FFF;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  transition: 400ms;
  width: 180px;
  height: 64px;
  cursor: pointer;
}
.primary-button:hover {
  transform: scale(1.05);
  background-color: #FFF;
  color: #232340;
}
@media screen and (max-width: 1025px) {
  .primary-button {
    font-size: 16px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}
@media screen and (max-width: 376px) {
  .primary-button {
    font-size: 16px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}

.secondary-button {
  background-color: #5468E7;
  color: #FFF;
  font-size: 18px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  transition: 400ms;
  width: 180px;
  height: 64px;
  cursor: pointer;
}
.secondary-button:hover {
  transform: scale(1.05);
  background-color: #FFF;
  color: #5468E7;
}
@media screen and (max-width: 1025px) {
  .secondary-button {
    font-size: 16px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}
@media screen and (max-width: 376px) {
  .secondary-button {
    font-size: 16px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}

.terciary-button {
  background-color: #908CFF;
  color: #FFF;
  font-size: 9px;
  font-weight: 600;
  border: none;
  border-radius: 14px;
  transition: 400ms;
  width: 118px;
  height: 25px;
  cursor: pointer;
}
.terciary-button:hover {
  transform: scale(1.05);
  background-color: #FFF;
  color: #908CFF;
}

.fourth-button {
  background-color: #FFF;
  color: #5468E7;
  font-size: 16px;
  font-weight: lighter;
  border: none;
  border-radius: 8px;
  transition: 400ms;
  cursor: pointer;
}
.fourth-button:hover {
  transform: scale(1.05);
  background-color: #FFF;
  color: #908CFF;
}

.whoweare-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 1440px;
  height: 1710px;
  background-color: #232340;
  position: relative;
  color: #FFF;
  z-index: 0;
}
@media screen and (max-width: 1025px) {
  .whoweare-container {
    justify-content: space-around;
    width: 1024px;
    height: 1242px;
    margin-top: 28px;
  }
}
@media screen and (max-width: 376px) {
  .whoweare-container {
    justify-content: space-around;
    width: 375px;
    height: 1681px;
    margin-top: 0px;
    padding-bottom: 64px;
  }
}
.whoweare-container .small-logo {
  position: absolute;
}
@media screen and (max-width: 1025px) {
  .whoweare-container .small-logo {
    top: 96px;
    left: 110px;
    width: 17px;
    height: 17px;
  }
}
@media screen and (max-width: 376px) {
  .whoweare-container .small-logo {
    display: none;
  }
}
.whoweare-container .shape-bg {
  position: absolute;
  top: -28px;
  right: 0;
  z-index: -3;
}
@media screen and (max-width: 1025px) {
  .whoweare-container .shape-bg {
    width: 530px;
    height: 748px;
  }
}
@media screen and (max-width: 376px) {
  .whoweare-container .shape-bg {
    display: none;
  }
}
.whoweare-container .whoweare-wrapper {
  display: flex;
}
@media screen and (max-width: 1025px) {
  .whoweare-container .whoweare-wrapper {
    width: 823px;
    height: 160px;
    margin-top: 54px;
    margin-left: 1px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 376px) {
  .whoweare-container .whoweare-wrapper {
    flex-direction: column;
    justify-content: space-between;
    width: 310px;
    height: 314px;
  }
}
.whoweare-container .whoweare-wrapper .subtitle {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1025px) {
  .whoweare-container .whoweare-wrapper .subtitle {
    width: 146px;
    height: 24px;
  }
}
@media screen and (max-width: 376px) {
  .whoweare-container .whoweare-wrapper .subtitle {
    width: 129px;
    height: 18px;
  }
}
.whoweare-container .whoweare-wrapper .subtitle .deactive {
  color: #ADADAD;
}
.whoweare-container .whoweare-wrapper .subtitle p {
  font-weight: 600;
}
@media screen and (max-width: 1025px) {
  .whoweare-container .whoweare-wrapper .wrapper2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 682px;
    margin-left: 112px;
    position: relative;
  }
}
@media screen and (max-width: 376px) {
  .whoweare-container .whoweare-wrapper .wrapper2 {
    flex-direction: column;
    justify-content: space-around;
    width: 310px;
    height: 314px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1025px) {
  .whoweare-container .whoweare-wrapper .whoweare-title {
    align-self: flex-start;
    width: 475px;
    height: 112px;
  }
}
@media screen and (max-width: 376px) {
  .whoweare-container .whoweare-wrapper .whoweare-title {
    width: 260px;
    height: 192px;
    font-size: 40px;
    color: #FFF;
  }
}
.whoweare-container .whoweare-wrapper .whoweare-nav {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1025px) {
  .whoweare-container .whoweare-wrapper .whoweare-nav {
    position: absolute;
    left: 616px;
    top: 32px;
  }
}
@media screen and (max-width: 376px) {
  .whoweare-container .whoweare-wrapper .whoweare-nav {
    position: absolute;
    left: -56px;
    top: 110%;
    width: 310px;
    height: 48px;
  }
}
.whoweare-container .whoweare-wrapper .whoweare-nav .arrows-nav {
  height: 48px;
  display: flex;
  justify-content: flex-end;
}
.whoweare-container .whoweare-wrapper .whoweare-nav .arrows-nav img {
  height: 48px;
}
.whoweare-container .whoweare-wrapper .whoweare-nav .dropdown-nav {
  display: none;
}
@media screen and (max-width: 376px) {
  .whoweare-container .whoweare-wrapper .whoweare-nav .dropdown-nav {
    display: block;
    width: 144px;
    height: 48px;
  }
  .whoweare-container .whoweare-wrapper .whoweare-nav .dropdown-nav .select-menu {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    text-align: center;
    color: #FFF;
    cursor: pointer;
  }
  .whoweare-container .whoweare-wrapper .whoweare-nav .dropdown-nav .select-menu:active {
    width: 100%;
  }
}
.whoweare-container .img-wrapper {
  position: relative;
  z-index: 1;
  overflow: visible;
}
@media screen and (max-width: 1025px) {
  .whoweare-container .img-wrapper {
    width: 832px;
    height: 424px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 376px) {
  .whoweare-container .img-wrapper {
    overflow: hidden;
    width: 375px;
    height: 424px;
  }
}
@media screen and (max-width: 1025px) {
  .whoweare-container .img-wrapper .about-img {
    display: none;
  }
}
@media screen and (max-width: 376px) {
  .whoweare-container .img-wrapper .about-img {
    display: none;
  }
}
.whoweare-container .img-wrapper .about-img-mobile {
  display: none;
}
@media screen and (max-width: 1025px) {
  .whoweare-container .img-wrapper .about-img-mobile {
    display: inline-block;
    width: 692px;
    height: 434px;
    margin-left: 12%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 376px) {
  .whoweare-container .img-wrapper .about-img-mobile {
    display: block;
    width: 638px;
    height: 434px;
    margin-left: -105px;
  }
}
.whoweare-container .img-wrapper .list-nav {
  position: absolute;
  color: #ADADAD;
  font-size: 12px;
  font-weight: 600;
  width: 32px;
  z-index: 2;
}
@media screen and (max-width: 1025px) {
  .whoweare-container .img-wrapper .list-nav {
    margin: 0 auto;
    top: 36px;
    right: 95%;
  }
}
@media screen and (max-width: 376px) {
  .whoweare-container .img-wrapper .list-nav {
    display: none;
  }
}
.whoweare-container .img-wrapper .list-nav ul {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 370px;
}
.whoweare-container .img-wrapper .list-nav ul .nav-active {
  color: #FFF;
}
.whoweare-container .img-wrapper .list-nav ul .line {
  position: absolute;
  width: 143px;
  height: 12px;
  top: 270px;
  left: 36px;
}
.whoweare-container .img-wrapper .list-nav ul .line-active {
  position: absolute;
  width: 17px;
  height: 3px;
  top: 267px;
  left: -62px;
}
.whoweare-container .counter-container {
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  margin-bottom: 94px;
}
@media screen and (max-width: 1025px) {
  .whoweare-container .counter-container {
    width: 823px;
    height: 308px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 376px) {
  .whoweare-container .counter-container {
    flex-direction: column;
    width: 311px;
    height: 702px;
  }
}
.whoweare-container .counter-container .aboutus-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 1025px) {
  .whoweare-container .counter-container .aboutus-wrapper {
    margin: 0 12%;
  }
}
@media screen and (max-width: 376px) {
  .whoweare-container .counter-container .aboutus-wrapper {
    width: 311px;
    height: 336px;
    margin: 0;
    padding: 0;
  }
}
@media screen and (max-width: 1025px) {
  .whoweare-container .counter-container .aboutus-wrapper h6 {
    width: 311px;
    font-size: 24px;
    line-height: 32px;
    border-left: 2px solid white;
    padding-left: 140px;
    margin-left: -140px;
  }
}
@media screen and (max-width: 376px) {
  .whoweare-container .counter-container .aboutus-wrapper h6 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    border-left: none;
    padding-left: 0px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 1025px) {
  .whoweare-container .counter-container .aboutus-wrapper .aboutus-description {
    width: 353px;
    height: 84px;
    color: #ADADAD;
  }
}
@media screen and (max-width: 376px) {
  .whoweare-container .counter-container .aboutus-wrapper .aboutus-description {
    width: 311px;
    height: 112px;
    color: #ADADAD;
    font-weight: 400;
    line-height: 28px;
  }
}
.whoweare-container .counter-container .counter-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  padding: 55px;
  margin: 0 auto;
}
@media screen and (max-width: 1025px) {
  .whoweare-container .counter-container .counter-wrapper {
    margin-right: 10%;
    width: 283px;
    height: 283px;
  }
}
@media screen and (max-width: 376px) {
  .whoweare-container .counter-container .counter-wrapper {
    padding: 0;
    width: 310px;
    height: 310px;
    margin-right: 0;
  }
}
.whoweare-container .counter-container .counter-wrapper .title-counter {
  font-size: 140px;
  font-weight: 600;
}
@media screen and (max-width: 376px) {
  .whoweare-container .counter-container .counter-wrapper .counter-description {
    font-weight: 600;
  }
}

@media screen and (max-width: 376px) {
  .arrows-nav {
    width: 144px;
    height: 48px;
  }
  .arrows-nav img {
    height: 48px;
    width: auto;
  }
}

.arrow-outline {
  width: 48px;
  height: 48px;
}

.primary-button {
  background-color: #232340;
  color: #FFF;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  transition: 400ms;
  width: 180px;
  height: 64px;
  cursor: pointer;
}
.primary-button:hover {
  transform: scale(1.05);
  background-color: #FFF;
  color: #232340;
}
@media screen and (max-width: 1025px) {
  .primary-button {
    font-size: 16px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}
@media screen and (max-width: 376px) {
  .primary-button {
    font-size: 16px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}

.secondary-button {
  background-color: #5468E7;
  color: #FFF;
  font-size: 18px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  transition: 400ms;
  width: 180px;
  height: 64px;
  cursor: pointer;
}
.secondary-button:hover {
  transform: scale(1.05);
  background-color: #FFF;
  color: #5468E7;
}
@media screen and (max-width: 1025px) {
  .secondary-button {
    font-size: 16px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}
@media screen and (max-width: 376px) {
  .secondary-button {
    font-size: 16px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}

.terciary-button {
  background-color: #908CFF;
  color: #FFF;
  font-size: 9px;
  font-weight: 600;
  border: none;
  border-radius: 14px;
  transition: 400ms;
  width: 118px;
  height: 25px;
  cursor: pointer;
}
.terciary-button:hover {
  transform: scale(1.05);
  background-color: #FFF;
  color: #908CFF;
}

.fourth-button {
  background-color: #FFF;
  color: #5468E7;
  font-size: 16px;
  font-weight: lighter;
  border: none;
  border-radius: 8px;
  transition: 400ms;
  cursor: pointer;
}
.fourth-button:hover {
  transform: scale(1.05);
  background-color: #FFF;
  color: #908CFF;
}

.whatwedo-container {
  position: relative;
  overflow: hidden;
  background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.504289) 100%);
  z-index: -100;
}
@media screen and (max-width: 376px) {
  .whatwedo-container {
    width: 375px;
    height: 2419px;
  }
}
.whatwedo-container .whatwedo-bg1 {
  position: absolute;
  z-index: -1;
  opacity: 0.25;
}
@media screen and (max-width: 376px) {
  .whatwedo-container .whatwedo-bg1 {
    top: 902px;
    width: 468px;
    height: 555px;
    overflow: hidden;
  }
}
.whatwedo-container .whatwedo-bg2 {
  position: absolute;
  z-index: -1;
  opacity: 0.25;
}
@media screen and (max-width: 376px) {
  .whatwedo-container .whatwedo-bg2 {
    top: 1836px;
    left: -10px;
    overflow: hidden;
  }
}
@media screen and (max-width: 376px) {
  .whatwedo-container .whatwedo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 311px;
    height: 304px;
    padding-top: 128px;
    margin: 0 auto;
    margin-bottom: 56px;
    z-index: 0;
  }
}
.whatwedo-container .whatwedo-wrapper .subtitle {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 376px) {
  .whatwedo-container .whatwedo-wrapper .subtitle {
    width: 131px;
    height: 18px;
  }
}
.whatwedo-container .whatwedo-wrapper .subtitle .active {
  color: #5468E7;
  font-weight: 600px;
}
@media screen and (max-width: 376px) {
  .whatwedo-container .whatwedo-wrapper .subtitle .subtitle-logo {
    display: none;
  }
}
.whatwedo-container .whatwedo-wrapper .whatwedo-title {
  align-self: flex-start;
  font-weight: 600;
}
@media screen and (max-width: 376px) {
  .whatwedo-container .whatwedo-wrapper .whatwedo-title {
    width: 230px;
    height: 192px;
    font-size: 40px;
    color: #232340;
  }
}
@media screen and (max-width: 376px) {
  .whatwedo-container .cards-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 311px;
    height: 856px;
    margin-bottom: 56px;
    padding-bottom: 24px;
    padding-left: 32px;
  }
}
.whatwedo-container .cards-wrapper .card-service {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #FFF;
  color: #5468E7;
  cursor: pointer;
  transition: 400ms;
}
.whatwedo-container .cards-wrapper .card-service:hover {
  background-color: #5468E7;
  color: #FFF;
}
@media screen and (max-width: 376px) {
  .whatwedo-container .cards-wrapper .card-service {
    width: 311px;
    height: 190px;
    border-radius: 32px;
    box-shadow: 0px 8px rgba(255, 255, 255, 0.5);
  }
}
@media screen and (max-width: 376px) {
  .whatwedo-container .cards-wrapper .card-img {
    width: 91px;
    height: 91px;
  }
}
.whatwedo-container .achievement-wrapper {
  display: flex;
}
@media screen and (max-width: 376px) {
  .whatwedo-container .achievement-wrapper {
    flex-direction: column;
    justify-content: space-between;
    width: 227px;
    height: 399px;
    padding-left: 32px;
    margin-bottom: 30px;
  }
}
.whatwedo-container .achievement-wrapper .achievement-subtitle-wrapper {
  display: flex;
}
@media screen and (max-width: 376px) {
  .whatwedo-container .achievement-wrapper .achievement-subtitle-wrapper .logo-wrapper {
    display: none;
  }
}
.whatwedo-container .achievement-wrapper .achievement-subtitle-wrapper .subtitle {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 376px) {
  .whatwedo-container .achievement-wrapper .achievement-subtitle-wrapper .subtitle {
    width: 156px;
    height: 24px;
  }
}
.whatwedo-container .achievement-wrapper .achievement-subtitle-wrapper .subtitle .deactive {
  color: #ADADAD;
}
.whatwedo-container .achievement-wrapper .achievement-subtitle-wrapper .subtitle .content {
  color: #232340;
  font-weight: 600;
}
@media screen and (max-width: 376px) {
  .whatwedo-container .achievement-wrapper .achievement-title {
    font-size: 24px;
    color: #232340;
    line-height: 32px;
    font-weight: 600;
  }
}
.whatwedo-container .achievement-wrapper .project-counter-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 376px) {
  .whatwedo-container .achievement-wrapper .project-counter-wrapper {
    width: 200px;
    height: 191px;
  }
}
.whatwedo-container .achievement-wrapper .project-counter-wrapper .project-counter {
  color: #5468E7;
  font-size: 140px;
}
.whatwedo-container .achievement-wrapper .project-counter-wrapper .counter-title {
  font-weight: 600;
  color: #232340;
  font-size: 18px;
}
.whatwedo-container .image-wrapper {
  display: flex;
}
@media screen and (max-width: 376px) {
  .whatwedo-container .image-wrapper {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 375px;
  }
}
@media screen and (max-width: 376px) {
  .whatwedo-container .image-wrapper .img-desktop {
    display: none;
  }
}
.whatwedo-container .image-wrapper .phone-mobile {
  display: none;
}
@media screen and (max-width: 376px) {
  .whatwedo-container .image-wrapper .phone-mobile {
    display: block;
    width: 350px;
    height: 460px;
    margin-bottom: 56px;
  }
}
@media screen and (max-width: 376px) {
  .whatwedo-container .image-wrapper .pagination {
    width: 69px;
    height: 12px;
  }
}

.primary-button {
  background-color: #232340;
  color: #FFF;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  transition: 400ms;
  width: 180px;
  height: 64px;
  cursor: pointer;
}
.primary-button:hover {
  transform: scale(1.05);
  background-color: #FFF;
  color: #232340;
}
@media screen and (max-width: 1025px) {
  .primary-button {
    font-size: 16px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}
@media screen and (max-width: 376px) {
  .primary-button {
    font-size: 16px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}

.secondary-button {
  background-color: #5468E7;
  color: #FFF;
  font-size: 18px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  transition: 400ms;
  width: 180px;
  height: 64px;
  cursor: pointer;
}
.secondary-button:hover {
  transform: scale(1.05);
  background-color: #FFF;
  color: #5468E7;
}
@media screen and (max-width: 1025px) {
  .secondary-button {
    font-size: 16px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}
@media screen and (max-width: 376px) {
  .secondary-button {
    font-size: 16px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}

.terciary-button {
  background-color: #908CFF;
  color: #FFF;
  font-size: 9px;
  font-weight: 600;
  border: none;
  border-radius: 14px;
  transition: 400ms;
  width: 118px;
  height: 25px;
  cursor: pointer;
}
.terciary-button:hover {
  transform: scale(1.05);
  background-color: #FFF;
  color: #908CFF;
}

.fourth-button {
  background-color: #FFF;
  color: #5468E7;
  font-size: 16px;
  font-weight: lighter;
  border: none;
  border-radius: 8px;
  transition: 400ms;
  cursor: pointer;
}
.fourth-button:hover {
  transform: scale(1.05);
  background-color: #FFF;
  color: #908CFF;
}

.partnerships-container {
  display: flex;
}
@media screen and (max-width: 376px) {
  .partnerships-container {
    flex-direction: column;
    justify-content: space-around;
    width: 375px;
    height: 3612px;
  }
}
@media screen and (max-width: 376px) {
  .partnerships-container .title-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 311px;
    height: 238px;
    margin-left: 32px;
    margin-top: 128px;
  }
}
.partnerships-container .title-content .partnerships-subtitle {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 376px) {
  .partnerships-container .title-content .partnerships-subtitle {
    width: 161px;
    height: 18px;
  }
}
@media screen and (max-width: 376px) {
  .partnerships-container .title-content .partnerships-subtitle .subtitle-logo {
    display: none;
  }
}
.partnerships-container .title-content .partnerships-title {
  color: #232340;
}
@media screen and (max-width: 376px) {
  .partnerships-container .title-content .partnerships-title {
    width: 255px;
    height: 96px;
  }
}
@media screen and (max-width: 376px) {
  .partnerships-container .title-content .partnerships-description {
    width: 311px;
    font-size: 16px;
  }
}
.partnerships-container .cards-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 32px;
}
@media screen and (max-width: 376px) {
  .partnerships-container .cards-wrapper {
    flex-direction: column;
    width: 313px;
    height: 3048px;
  }
}
.partnerships-container .cards-wrapper .partnerships-card {
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 376px) {
  .partnerships-container .cards-wrapper .partnerships-card {
    flex-direction: column;
    width: 312px;
    height: 584px;
  }
}
.partnerships-container .cards-wrapper .partnerships-card .featured-img {
  position: relative;
}
@media screen and (max-width: 376px) {
  .partnerships-container .cards-wrapper .partnerships-card .featured-img {
    border: none;
    border-radius: 17px;
    width: 311px;
    height: 356px;
  }
}
.partnerships-container .cards-wrapper .partnerships-card .featured-img .featured-button {
  position: absolute;
  top: 303px;
  left: 24px;
  z-index: 2;
}
.partnerships-container .cards-wrapper .partnerships-card .first-img {
  background-color: #FFBA79;
}
.partnerships-container .cards-wrapper .partnerships-card .card-title {
  color: #232340;
}
@media screen and (max-width: 376px) {
  .partnerships-container .cards-wrapper .partnerships-card .card-description {
    padding-right: 84px;
  }
}
.partnerships-container .cards-wrapper .partnerships-card .second-img {
  background-color: #E8BEFF;
}
.partnerships-container .cards-wrapper .partnerships-card .third-img {
  background-color: #FFCE79;
}
.partnerships-container .cards-wrapper .partnerships-card .fourth-img {
  background-color: #D1ECFD;
}
.partnerships-container .cards-wrapper .partnerships-card .fifth-img {
  background-color: #FFBA79;
}
.partnerships-container .cards-wrapper .partnerships-button {
  display: block;
}
@media screen and (max-width: 376px) {
  .partnerships-container .cards-wrapper .partnerships-button {
    width: 313px;
    height: 46px;
  }
}
.partnerships-container .cards-wrapper .partnerships-button .secondary-button {
  width: 100%;
  height: 100%;
}

.primary-button {
  background-color: #232340;
  color: #FFF;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  transition: 400ms;
  width: 180px;
  height: 64px;
  cursor: pointer;
}
.primary-button:hover {
  transform: scale(1.05);
  background-color: #FFF;
  color: #232340;
}
@media screen and (max-width: 1025px) {
  .primary-button {
    font-size: 16px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}
@media screen and (max-width: 376px) {
  .primary-button {
    font-size: 16px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}

.secondary-button {
  background-color: #5468E7;
  color: #FFF;
  font-size: 18px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  transition: 400ms;
  width: 180px;
  height: 64px;
  cursor: pointer;
}
.secondary-button:hover {
  transform: scale(1.05);
  background-color: #FFF;
  color: #5468E7;
}
@media screen and (max-width: 1025px) {
  .secondary-button {
    font-size: 16px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}
@media screen and (max-width: 376px) {
  .secondary-button {
    font-size: 16px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}

.terciary-button {
  background-color: #908CFF;
  color: #FFF;
  font-size: 9px;
  font-weight: 600;
  border: none;
  border-radius: 14px;
  transition: 400ms;
  width: 118px;
  height: 25px;
  cursor: pointer;
}
.terciary-button:hover {
  transform: scale(1.05);
  background-color: #FFF;
  color: #908CFF;
}

.fourth-button {
  background-color: #FFF;
  color: #5468E7;
  font-size: 16px;
  font-weight: lighter;
  border: none;
  border-radius: 8px;
  transition: 400ms;
  cursor: pointer;
}
.fourth-button:hover {
  transform: scale(1.05);
  background-color: #FFF;
  color: #908CFF;
}

.cta-container {
  color: #FFF;
  padding-top: 128px;
}
@media screen and (max-width: 376px) {
  .cta-container {
    width: 375px;
    height: 977px;
    z-index: 0;
  }
}
.cta-container .cta-wrapper {
  display: flex;
}
@media screen and (max-width: 376px) {
  .cta-container .cta-wrapper {
    flex-direction: column;
    justify-content: space-between;
    width: 312px;
    background-color: #5468E7;
    border: none;
    border-radius: 32px;
    padding-top: 64px;
    margin: 0 auto;
    z-index: 2;
  }
}
@media screen and (max-width: 376px) {
  .cta-container .cta-wrapper .cta-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 261px;
    height: 344px;
    padding-left: 45px;
    z-index: 2;
  }
}
@media screen and (max-width: 376px) {
  .cta-container .cta-wrapper .cta-content .cta-subtitle {
    display: flex;
    justify-content: space-between;
    width: 138px;
    height: 18px;
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 376px) {
  .cta-container .cta-wrapper .cta-content .cta-title {
    font-size: 48px;
    weight: bold;
    width: 261px;
    height: 224px;
    margin-bottom: 32px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
}
@media screen and (max-width: 376px) {
  .cta-container .cta-wrapper .cta-content .fourth-button {
    width: 143px;
    height: 46px;
  }
}
.cta-container .cta-wrapper .cta-image {
  z-index: 2;
}
@media screen and (max-width: 376px) {
  .cta-container .cta-wrapper .cta-image .desktop {
    display: none;
  }
}
@media screen and (max-width: 376px) {
  .cta-container .cta-wrapper .cta-image .mobile {
    margin-left: -30px;
    width: 375px;
    height: 521px;
  }
}
.cta-container .cta-bg-shape {
  position: relative;
  display: flex;
  justify-content: flex-end;
  z-index: 0;
}
@media screen and (max-width: 376px) {
  .cta-container .cta-bg-shape .blue-desktop {
    display: none;
  }
}
@media screen and (max-width: 376px) {
  .cta-container .cta-bg-shape .purple-desktop {
    display: none;
  }
}
.cta-container .cta-bg-shape .pink-mobile {
  position: absolute;
  bottom: -48px;
  right: 0px;
  width: 260px;
  height: 730px;
}

.notification {
  position: relative;
  height: 24px;
  width: 24px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(#3A8FFF, #0837AE);
}
.notification .notification-text {
  position: absolute;
  top: -2px;
  left: 8px;
  height: 18px;
  width: 9px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}

.jobs-container {
  position: relative;
  background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.504289) 100%);
  overflow: hidden;
}
@media screen and (max-width: 376px) {
  .jobs-container {
    margin-top: 128px;
    width: 375px;
    height: 1170px;
  }
}
@media screen and (max-width: 376px) {
  .jobs-container .jobs-bg img {
    position: absolute;
    width: 457px;
    height: 582px;
    left: 162px;
  }
}
.jobs-container .jobs-wrapper {
  display: flex;
}
@media screen and (max-width: 376px) {
  .jobs-container .jobs-wrapper {
    flex-direction: column;
    justify-content: space-between;
    width: 311px;
    height: 1010px;
    margin: 0 auto;
    margin-top: 128px;
  }
}
.jobs-container .jobs-wrapper .jobs-section {
  display: flex;
}
@media screen and (max-width: 376px) {
  .jobs-container .jobs-wrapper .jobs-section {
    flex-direction: column;
    justify-content: space-between;
    width: 311px;
    height: 198px;
  }
}
.jobs-container .jobs-wrapper .jobs-section .subtitle {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 376px) {
  .jobs-container .jobs-wrapper .jobs-section .subtitle {
    width: 128px;
    height: 18px;
  }
}
@media screen and (max-width: 376px) {
  .jobs-container .jobs-wrapper .jobs-section .subtitle img {
    display: none;
  }
}
.jobs-container .jobs-wrapper .jobs-section .subtitle .active {
  color: #5468E7;
  font-weight: 600;
}
.jobs-container .jobs-wrapper .jobs-section .jobs-title {
  color: #232340;
  font-size: 48px;
  font-weight: 700;
}
@media screen and (max-width: 376px) {
  .jobs-container .jobs-wrapper .jobs-section .jobs-title {
    width: 227px;
    height: 48px;
  }
}
@media screen and (max-width: 376px) {
  .jobs-container .jobs-wrapper .jobs-section .jobs-description {
    width: 311px;
    height: 84px;
  }
}
@media screen and (max-width: 376px) {
  .jobs-container .jobs-wrapper .jobs-section .scroll-wrapper {
    display: none;
  }
}
.jobs-container .cards-wrapper {
  display: flex;
}
@media screen and (max-width: 376px) {
  .jobs-container .cards-wrapper {
    flex-direction: column;
    justify-content: space-between;
    width: 311px;
    height: 764px;
  }
}
.jobs-container .cards-wrapper .jobs-cards {
  display: flex;
}
@media screen and (max-width: 376px) {
  .jobs-container .cards-wrapper .jobs-cards {
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    width: 311px;
    height: 175px;
    background-color: #FFF;
    border-radius: 24px;
  }
}
@media screen and (max-width: 376px) {
  .jobs-container .cards-wrapper .jobs-cards .content-wrapper {
    width: 187px;
    height: 86px;
    padding-left: 40px;
    padding-top: 21px;
  }
}
.jobs-container .cards-wrapper .jobs-cards .content-wrapper .card-title {
  color: #232340;
  font-weight: 700;
}
@media screen and (max-width: 376px) {
  .jobs-container .cards-wrapper .jobs-cards .content-wrapper .card-title {
    position: relative;
  }
}
.jobs-container .cards-wrapper .jobs-cards .content-wrapper .card-title .notification {
  position: absolute;
}
@media screen and (max-width: 376px) {
  .jobs-container .cards-wrapper .jobs-cards .content-wrapper .card-title .notification {
    top: 0px;
    left: 187px;
  }
}
.jobs-container .cards-wrapper .jobs-cards .content-wrapper .card-content {
  display: flex;
  color: #606060;
}
@media screen and (max-width: 376px) {
  .jobs-container .cards-wrapper .jobs-cards .content-wrapper .card-content {
    flex-direction: column;
  }
}
.jobs-container .cards-wrapper .jobs-cards .content-wrapper .cards-arrow {
  width: 14px;
  height: 10px;
}
@media screen and (max-width: 376px) {
  .jobs-container .cards-wrapper .jobs-cards .card-active-img {
    position: absolute;
    left: 235px;
    width: 150px;
    height: 150px;
  }
}
.jobs-container .cards-wrapper .card-active {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #232340;
  color: #8B8B8B;
  font-size: 14px;
}
.jobs-container .cards-wrapper .card-active h6 {
  color: #FFF;
}
@media screen and (max-width: 376px) {
  .jobs-container .cards-wrapper .card-active {
    width: 414px;
  }
}
@media screen and (max-width: 376px) {
  .jobs-container .cards-wrapper .card-active .content-wrapper {
    width: 157px;
  }
}

@media screen and (max-width: 376px) {
  .footer-container {
    overflow: hidden;
    width: 375px;
    height: 977px;
  }
}
.footer-container .grid-container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  background-color: #5468E7;
  border-radius: 24px;
  position: relative;
  overflow: hidden;
  color: #FFF;
}
@media screen and (max-width: 376px) {
  .footer-container .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    width: 311px;
    height: 548px;
  }
}
.footer-container .grid-container .bg-wrapper {
  position: absolute;
}
@media screen and (max-width: 376px) {
  .footer-container .grid-container .bg-wrapper {
    left: -50px;
  }
}
.footer-container .grid-container .bg-wrapper .bg-img {
  z-index: 0;
  width: 456px;
  height: 582px;
}
.footer-container .grid-container .footer-wrapper-1 {
  grid-area: 1/1/3/3;
  z-index: 1;
}
@media screen and (max-width: 376px) {
  .footer-container .grid-container .footer-wrapper-1 {
    grid-area: 1/1/3/2;
    margin-top: 49px;
    margin-bottom: 40px;
  }
}
.footer-container .grid-container .footer-wrapper-1 .footer-content1 {
  width: 311px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 376px) {
  .footer-container .grid-container .footer-wrapper-1 .footer-content1 .footer-logo {
    display: none;
  }
}
@media screen and (max-width: 376px) {
  .footer-container .grid-container .footer-wrapper-1 .footer-content1 .speach-bubble-mobile {
    width: 73px;
    height: 73px;
    padding-left: 10%;
  }
}
@media screen and (max-width: 376px) {
  .footer-container .grid-container .footer-wrapper-1 .footer-content1 .footer-subtitle {
    margin-top: 6px;
    width: 90px;
    height: 18px;
  }
}
@media screen and (max-width: 376px) {
  .footer-container .grid-container .footer-wrapper-1 .footer-content1 .footer-title {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 236px;
    height: 72px;
  }
}
.footer-container .grid-container .footer-divider1 {
  opacity: 1;
  color: red;
}
.footer-container .grid-container .footer-wrapper-2 {
  grid-area: 2/1/3/2;
  align-self: flex-end;
  z-index: 1;
}
@media screen and (max-width: 376px) {
  .footer-container .grid-container .footer-wrapper-2 {
    grid-area: 2/1/3/2;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 263px;
    height: 176px;
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 376px) {
  .footer-container .grid-container .footer-wrapper-2 .footer-content2 h2 {
    font-size: 32px;
  }
}
@media screen and (max-width: 376px) {
  .footer-container .grid-container .footer-wrapper-2 .fourth-button {
    width: 263px;
    height: 56px;
  }
}
@media screen and (max-width: 376px) {
  .footer-container .grid-container .footer-divider2 {
    display: none;
  }
}
.footer-container .grid-container .footer-wrapper-3 {
  grid-area: 2/2/3/3;
}
@media screen and (max-width: 376px) {
  .footer-container .grid-container .footer-wrapper-3 {
    display: none;
  }
}
.footer-container .bottom-footer {
  display: flex;
  position: relative;
}
@media screen and (max-width: 376px) {
  .footer-container .bottom-footer {
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 311px;
    height: 315px;
    margin: 0 auto;
    margin-top: 80px;
  }
}
.footer-container .bottom-footer .first-section {
  text-align: center;
  margin: 0 auto;
  display: flex;
}
@media screen and (max-width: 376px) {
  .footer-container .bottom-footer .first-section {
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 311px;
    height: 195px;
  }
}
@media screen and (max-width: 376px) {
  .footer-container .bottom-footer .first-section img {
    margin: 0 auto;
    width: 136px;
    height: 35px;
  }
}
.footer-container .bottom-footer .first-section .description-wrapper {
  margin: 0 auto;
}
@media screen and (max-width: 376px) {
  .footer-container .bottom-footer .first-section .description-wrapper {
    width: 256px;
    height: 56px;
  }
}
@media screen and (max-width: 376px) {
  .footer-container .bottom-footer .first-section .description-wrapper .description-desktop {
    display: none;
  }
}
.footer-container .bottom-footer .first-section .description-wrapper .description-mobile {
  color: #ADADAD;
}
@media screen and (max-width: 376px) {
  .footer-container .bottom-footer .first-section .description-wrapper .description-mobile {
    display: block;
    width: 256px;
    height: 56px;
  }
}
.footer-container .bottom-footer .first-section .dropdown-menu {
  display: none;
}
@media screen and (max-width: 376px) {
  .footer-container .bottom-footer .first-section .dropdown-menu {
    display: inline-block;
    width: 311px;
    height: 48px;
  }
}
@media screen and (max-width: 376px) {
  .footer-container .bottom-footer .first-section .dropdown-menu .select-menu {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    border: 1px solid #ADADAD;
    border-radius: 8px;
    text-align: left;
    padding-left: 24px;
    color: #ADADAD;
  }
  .footer-container .bottom-footer .first-section .dropdown-menu .select-menu:active {
    width: 100%;
  }
}
@media screen and (max-width: 376px) {
  .footer-container .bottom-footer .first-section .desktop-menu {
    display: none;
  }
}
.footer-container .bottom-footer .contactus-section {
  display: flex;
  margin: 0 auto;
}
@media screen and (max-width: 376px) {
  .footer-container .bottom-footer .contactus-section {
    flex-flow: column-reverse;
    justify-content: space-between;
    width: 136px;
    height: 88px;
  }
}
@media screen and (max-width: 376px) {
  .footer-container .bottom-footer .contactus-section .social-media {
    display: none;
  }
}
.footer-container .bottom-footer .contactus-section .social-icons {
  display: flex;
  justify-content: space-around;
}
.footer-container .bottom-footer .contactus-section .social-icons img {
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 376px) {
  .footer-container .bottom-footer .contactus-section .social-icons .desktop-icons {
    display: none;
  }
}
@media screen and (max-width: 376px) {
  .footer-container .bottom-footer .contactus-section .social-icons .mobile-fb {
    display: none;
  }
}
.footer-container .bottom-footer .contactus-section .date {
  color: #ADADAD;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}
.footer-container .bottom-footer .bottom-bg {
  position: absolute;
  z-index: -1;
}
@media screen and (max-width: 376px) {
  .footer-container .bottom-footer .bottom-bg {
    width: 456px;
    height: 582px;
    top: -170px;
    left: -175px;
  }
}
.footer-container .bottom-footer .bottom-bg .bottom-bg-img {
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */