html, body {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 18px;
  color: #606060;
  font-weight: 400;
  margin: 0 0;
  width: 1440px;
}
@media screen and (max-width: 1025px) {
  html, body {
    font-size: 14px;
    width: 1024px;
  }
}
@media screen and (max-width: 376px) {
  html, body {
    font-size: 14px;
    width: 375px;
  }
}
html h2, body h2 {
  font-size: 64px;
}
@media screen and (max-width: 1025px) {
  html h2, body h2 {
    font-size: 48px;
  }
}
@media screen and (max-width: 376px) {
  html h2, body h2 {
    font-size: 48px;
  }
}
html h1, body h1 {
  font-size: 84px;
}
@media screen and (max-width: 1025px) {
  html h1, body h1 {
    font-size: 48px;
  }
}
@media screen and (max-width: 376px) {
  html h1, body h1 {
    font-size: 48px;
  }
}
html a, body a {
  cursor: pointer;
}
html img, body img {
  width: 100%;
}

.primary-button {
  background-color: #232340;
  color: #FFF;
  font-size: 18px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  transition: 400ms;
  width: 180px;
  height: 64px;
  cursor: pointer;
}
.primary-button:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 1025px) {
  .primary-button {
    font-size: 14px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}
@media screen and (max-width: 376px) {
  .primary-button {
    font-size: 14px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}

.secondary-button {
  background-color: #5468E7;
  color: #FFF;
  font-size: 18px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  transition: 400ms;
  width: 180px;
  height: 64px;
  cursor: pointer;
}
.secondary-button:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 1025px) {
  .secondary-button {
    font-size: 14px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}
@media screen and (max-width: 376px) {
  .secondary-button {
    font-size: 14px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}

.notification {
  position: absolute;
  top: 72px;
  left: 924px;
  height: 24px;
  width: 24px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(#3A8FFF, #0837AE);
}
@media screen and (max-width: 1025px) {
  .notification {
    top: 46px;
    left: 677px;
  }
}
@media screen and (max-width: 376px) {
  .notification {
    display: none;
  }
}
.notification .notification-text {
  position: relative;
  height: 18px;
  width: 9px;
  left: 7px;
  top: 5px;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: lighter;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (max-width: 376px) {
  .notification .notification-text {
    display: none;
  }
}

.nav-container {
  width: 1440px;
  height: 128px;
}
@media screen and (max-width: 1025px) {
  .nav-container {
    width: 1024px;
    height: 96px;
  }
}
@media screen and (max-width: 376px) {
  .nav-container {
    width: 375px;
    height: 128px;
  }
}
.nav-container .nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1296px;
  height: 64px;
  padding-top: 64px;
  padding-left: 72px;
}
@media screen and (max-width: 1025px) {
  .nav-container .nav-wrapper {
    width: 924px;
    height: 56px;
    padding-top: 40px;
    padding-left: 50px;
  }
}
@media screen and (max-width: 376px) {
  .nav-container .nav-wrapper {
    width: 311px;
    height: 32px;
    padding-top: 52px;
    padding-left: 32px;
  }
}
.nav-container .nav-wrapper .nav-logo {
  width: 159px;
  height: 40px;
}
@media screen and (max-width: 1025px) {
  .nav-container .nav-wrapper .nav-logo {
    width: 127px;
    height: 32px;
  }
}
@media screen and (max-width: 376px) {
  .nav-container .nav-wrapper .nav-logo {
    width: 127px;
    height: 32px;
  }
}
.nav-container .nav-wrapper .nav-menu {
  width: 392px;
  height: 24px;
}
@media screen and (max-width: 1025px) {
  .nav-container .nav-wrapper .nav-menu {
    width: 346px;
    height: 22px;
  }
}
@media screen and (max-width: 376px) {
  .nav-container .nav-wrapper .nav-menu {
    display: none;
  }
}
.nav-container .nav-wrapper .nav-menu .menu-items {
  display: flex;
  justify-content: space-between;
}
.nav-container .nav-wrapper .nav-menu .menu-items a {
  text-decoration: none;
  font-weight: 500;
  color: #606060;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.nav-container .nav-wrapper .nav-menu .menu-items .nav-active {
  color: #5468E7;
}
.nav-container .nav-wrapper .nav-menu .menu-items .nav-deactive {
  color: #ADADAD;
}
@media screen and (max-width: 376px) {
  .nav-container .nav-wrapper .navbar-button {
    display: none;
  }
}
.nav-container .nav-wrapper .nav-mobile {
  display: none;
}
@media screen and (max-width: 1025px) {
  .nav-container .nav-wrapper .nav-mobile {
    display: none;
  }
}
@media screen and (max-width: 376px) {
  .nav-container .nav-wrapper .nav-mobile {
    display: inline;
  }
}

.primary-button {
  background-color: #232340;
  color: #FFF;
  font-size: 18px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  transition: 400ms;
  width: 180px;
  height: 64px;
  cursor: pointer;
}
.primary-button:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 1025px) {
  .primary-button {
    font-size: 14px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}
@media screen and (max-width: 376px) {
  .primary-button {
    font-size: 14px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}

.secondary-button {
  background-color: #5468E7;
  color: #FFF;
  font-size: 18px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  transition: 400ms;
  width: 180px;
  height: 64px;
  cursor: pointer;
}
.secondary-button:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 1025px) {
  .secondary-button {
    font-size: 14px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}
@media screen and (max-width: 376px) {
  .secondary-button {
    font-size: 14px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}

.notification {
  position: absolute;
  top: 72px;
  left: 924px;
  height: 24px;
  width: 24px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(#3A8FFF, #0837AE);
}
@media screen and (max-width: 1025px) {
  .notification {
    top: 46px;
    left: 677px;
  }
}
@media screen and (max-width: 376px) {
  .notification {
    display: none;
  }
}
.notification .notification-text {
  position: relative;
  height: 18px;
  width: 9px;
  left: 7px;
  top: 5px;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: lighter;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (max-width: 376px) {
  .notification .notification-text {
    display: none;
  }
}

.primary-button {
  background-color: #232340;
  color: #FFF;
  font-size: 18px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  transition: 400ms;
  width: 180px;
  height: 64px;
  cursor: pointer;
}
.primary-button:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 1025px) {
  .primary-button {
    font-size: 14px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}
@media screen and (max-width: 376px) {
  .primary-button {
    font-size: 14px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}

.secondary-button {
  background-color: #5468E7;
  color: #FFF;
  font-size: 18px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  transition: 400ms;
  width: 180px;
  height: 64px;
  cursor: pointer;
}
.secondary-button:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 1025px) {
  .secondary-button {
    font-size: 14px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}
@media screen and (max-width: 376px) {
  .secondary-button {
    font-size: 14px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}

.hero-container {
  width: 1440px;
  height: 896px;
}
@media screen and (max-width: 1025px) {
  .hero-container {
    width: 1024px;
    height: 768px;
  }
}
@media screen and (max-width: 1025px) and (max-width: 376px) {
  .hero-container {
    width: 375px;
    height: 687px;
  }
}
.hero-container .hero-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 467px;
  height: 548px;
  padding-top: 110px;
  padding-left: 135px;
}
@media screen and (max-width: 1025px) {
  .hero-container .hero-wrapper {
    width: 332px;
    height: 412px;
    padding-top: 73px;
    padding-left: 107px;
  }
}
@media screen and (max-width: 376px) {
  .hero-container .hero-wrapper {
    width: 311px;
    height: 356px;
    padding-top: 0;
    padding-left: 32px;
  }
}
.hero-container .hero-wrapper .display1 {
  font-size: 84px;
  color: #232340;
  font-weight: bolder;
}
@media screen and (max-width: 1025px) {
  .hero-container .hero-wrapper .display1 {
    font-size: 64px;
  }
}
@media screen and (max-width: 376px) {
  .hero-container .hero-wrapper .display1 {
    font-size: 48px;
  }
}
.hero-container .hero-wrapper .hero-description {
  line-height: 28px;
  padding-right: 90px;
}
@media screen and (max-width: 1025px) {
  .hero-container .hero-wrapper .hero-description {
    font-size: 16px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 376px) {
  .hero-container .hero-wrapper .hero-description {
    padding-right: 0px;
  }
}
.hero-container .scroll-wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 639px;
  margin-right: 107px;
  width: 158px;
  height: 48px;
}
@media screen and (max-width: 1025px) {
  .hero-container .scroll-wrapper {
    margin-top: 451px;
  }
}
.hero-container .scroll-wrapper .scroll-arrow {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}
@media screen and (max-width: 376px) {
  .hero-container .scroll-wrapper .scroll-arrow {
    display: none;
  }
}
.hero-container .scroll-wrapper .scroll-desktop {
  font-weight: 600;
}
@media screen and (max-width: 1025px) {
  .hero-container .scroll-wrapper .scroll-desktop {
    display: none;
  }
}
.hero-container .scroll-wrapper .scroll-tablet {
  display: none;
}
@media screen and (max-width: 1025px) {
  .hero-container .scroll-wrapper .scroll-tablet {
    display: inline;
  }
}
@media screen and (max-width: 376px) {
  .hero-container .scroll-wrapper .scroll-tablet {
    display: none;
  }
}

.hero-bg {
  position: absolute;
  top: 1px;
  left: 321px;
  width: 642px;
  height: 819px;
  z-index: -2;
}
@media screen and (max-width: 1025px) {
  .hero-bg {
    left: 228px;
    width: 457px;
    height: 583px;
  }
}
@media screen and (max-width: 376px) {
  .hero-bg {
    top: -15px;
    left: 176px;
    width: 456px;
    height: 582px;
  }
}

.hero-img {
  position: absolute;
  top: 222px;
  left: 406px;
}
@media screen and (max-width: 1025px) {
  .hero-img {
    top: 158px;
    left: 368px;
  }
}
@media screen and (max-width: 376px) {
  .hero-img {
    top: 449px;
    left: 37px;
  }
}
.hero-img .hero-pc {
  width: 924px;
  height: 722px;
}
@media screen and (max-width: 1025px) {
  .hero-img .hero-pc {
    width: 565px;
    height: 513px;
  }
}
@media screen and (max-width: 376px) {
  .hero-img .hero-pc {
    width: 405px;
    height: 363px;
    overflow: hidden;
  }
}

.primary-button {
  background-color: #232340;
  color: #FFF;
  font-size: 18px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  transition: 400ms;
  width: 180px;
  height: 64px;
  cursor: pointer;
}
.primary-button:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 1025px) {
  .primary-button {
    font-size: 14px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}
@media screen and (max-width: 376px) {
  .primary-button {
    font-size: 14px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}

.secondary-button {
  background-color: #5468E7;
  color: #FFF;
  font-size: 18px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  transition: 400ms;
  width: 180px;
  height: 64px;
  cursor: pointer;
}
.secondary-button:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 1025px) {
  .secondary-button {
    font-size: 14px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}
@media screen and (max-width: 376px) {
  .secondary-button {
    font-size: 14px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}

.whoweare-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 1440px;
  height: 1710px;
  background-color: #232340;
  color: #FFF;
}
@media screen and (max-width: 376px) {
  .whoweare-container {
    width: 375px;
    height: 1681px;
    padding-bottom: 64px;
  }
}
@media screen and (max-width: 376px) {
  .whoweare-container .whoweare-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 310px;
    height: 314px;
    margin-top: 64px;
    margin-left: 32px;
  }
}
.whoweare-container .whoweare-wrapper .subtitle {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 376px) {
  .whoweare-container .whoweare-wrapper .subtitle {
    width: 129px;
    height: 18px;
  }
}
.whoweare-container .whoweare-wrapper .subtitle .deactive {
  color: #ADADAD;
}
.whoweare-container .whoweare-wrapper .subtitle p {
  font-weight: 600;
}
.whoweare-container .whoweare-wrapper .whoweare-title {
  align-self: flex-start;
}
@media screen and (max-width: 376px) {
  .whoweare-container .whoweare-wrapper .whoweare-title {
    width: 226px;
    height: 192px;
    font-size: 40px;
    color: #FFF;
  }
}
.whoweare-container .whoweare-wrapper .whoweare-nav {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 376px) {
  .whoweare-container .whoweare-wrapper .whoweare-nav {
    width: 310px;
    height: 48px;
  }
}
.whoweare-container .whoweare-wrapper .whoweare-nav .arrows-nav {
  height: 48px;
}
.whoweare-container .whoweare-wrapper .whoweare-nav .arrows-nav img {
  height: 48px;
  width: auto;
}
.whoweare-container .whoweare-wrapper .whoweare-nav .dropdown-nav {
  width: 144px;
  height: 48px;
}
.whoweare-container .whoweare-wrapper .whoweare-nav .dropdown-nav .select-menu {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  text-align: center;
  color: #FFF;
  cursor: pointer;
}
.whoweare-container .whoweare-wrapper .whoweare-nav .dropdown-nav .select-menu:active {
  width: 100%;
}
@media screen and (max-width: 376px) {
  .whoweare-container .img-wrapper {
    width: 375px;
    height: 424px;
    overflow: hidden;
  }
}
@media screen and (max-width: 376px) {
  .whoweare-container .img-wrapper .about-img {
    width: 638px;
    height: 434px;
    margin-left: -105px;
  }
}
.whoweare-container .aboutus-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 376px) {
  .whoweare-container .aboutus-wrapper {
    width: 311px;
    height: 336px;
    margin-left: 32px;
  }
}
@media screen and (max-width: 376px) {
  .whoweare-container .aboutus-wrapper h6 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}
@media screen and (max-width: 376px) {
  .whoweare-container .aboutus-wrapper .aboutus-description {
    width: 311px;
    height: 112;
    color: #ADADAD;
    font-weight: 400;
    line-height: 28px;
  }
}
.whoweare-container .counter-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 376px) {
  .whoweare-container .counter-wrapper {
    width: 310px;
    height: 310px;
    margin-left: 32px;
  }
}
.whoweare-container .counter-wrapper .title-counter {
  font-size: 140px;
  font-weight: 600;
}
@media screen and (max-width: 376px) {
  .whoweare-container .counter-wrapper .counter-description {
    font-weight: 600;
  }
}

@media screen and (max-width: 376px) {
  .arrows-nav {
    width: 144px;
    height: 48px;
  }
  .arrows-nav img {
    height: 48px;
    width: auto;
  }
}

.primary-button {
  background-color: #232340;
  color: #FFF;
  font-size: 18px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  transition: 400ms;
  width: 180px;
  height: 64px;
  cursor: pointer;
}
.primary-button:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 1025px) {
  .primary-button {
    font-size: 14px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}
@media screen and (max-width: 376px) {
  .primary-button {
    font-size: 14px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}

.secondary-button {
  background-color: #5468E7;
  color: #FFF;
  font-size: 18px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  transition: 400ms;
  width: 180px;
  height: 64px;
  cursor: pointer;
}
.secondary-button:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 1025px) {
  .secondary-button {
    font-size: 14px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}
@media screen and (max-width: 376px) {
  .secondary-button {
    font-size: 14px;
    font-weight: 200;
    width: 160px;
    height: 56px;
  }
}

.whatwedo-container {
  background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.504289) 100%);
  z-index: -100;
}
@media screen and (max-width: 376px) {
  .whatwedo-container {
    width: 375px;
    height: 2419px;
  }
}
.whatwedo-container .whatwedo-bg1 {
  position: absolute;
  z-index: -1;
}
@media screen and (max-width: 376px) {
  .whatwedo-container .whatwedo-bg1 {
    top: 932px;
    left: 0;
    width: 467px;
    height: 555px;
  }
}
.whatwedo-container .whatwedo-bg2 {
  position: absolute;
}
@media screen and (max-width: 376px) {
  .whatwedo-container .whatwedo-bg2 {
    top: 1836px;
    left: -53px;
    width: 467px;
    height: 555px;
    z-index: -1;
  }
}
@media screen and (max-width: 376px) {
  .whatwedo-container .whatwedo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 227px;
    height: 304px;
    padding-top: 128px;
    padding-left: 32px;
    margin-bottom: 56px;
  }
}
.whatwedo-container .whatwedo-wrapper .subtitle {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 376px) {
  .whatwedo-container .whatwedo-wrapper .subtitle {
    width: 131px;
    height: 18px;
  }
}
.whatwedo-container .whatwedo-wrapper .subtitle .active {
  color: #5468E7;
  font-weight: 600px;
}
@media screen and (max-width: 376px) {
  .whatwedo-container .whatwedo-wrapper .subtitle .subtitle-logo {
    display: none;
  }
}
.whatwedo-container .whatwedo-wrapper .whatwedo-title {
  align-self: flex-start;
  font-weight: 600;
}
@media screen and (max-width: 376px) {
  .whatwedo-container .whatwedo-wrapper .whatwedo-title {
    width: 230px;
    height: 192px;
    font-size: 40px;
    color: #232340;
  }
}
@media screen and (max-width: 376px) {
  .whatwedo-container .cards-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 311px;
    height: 856px;
    margin-bottom: 56px;
    padding-bottom: 24px;
    padding-left: 32px;
  }
}
.whatwedo-container .cards-wrapper .card-service {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  color: #5468E7;
  cursor: pointer;
  transition: 400ms;
}
.whatwedo-container .cards-wrapper .card-service:hover {
  background-color: #5468E7;
  color: #FFF;
}
@media screen and (max-width: 376px) {
  .whatwedo-container .cards-wrapper .card-service {
    width: 311px;
    height: 190px;
    border-radius: 32px;
    box-shadow: 0px 8px rgba(255, 255, 255, 0.5);
  }
}
@media screen and (max-width: 376px) {
  .whatwedo-container .cards-wrapper .card-img {
    width: 91px;
    height: 91px;
  }
}
.whatwedo-container .achievement-wrapper {
  display: flex;
}
@media screen and (max-width: 376px) {
  .whatwedo-container .achievement-wrapper {
    flex-direction: column;
    justify-content: space-between;
    width: 227px;
    height: 399px;
    padding-left: 32px;
    margin-bottom: 30px;
  }
}
.whatwedo-container .achievement-wrapper .achievement-subtitle-wrapper {
  display: flex;
}
@media screen and (max-width: 376px) {
  .whatwedo-container .achievement-wrapper .achievement-subtitle-wrapper .logo-wrapper {
    display: none;
  }
}
.whatwedo-container .achievement-wrapper .achievement-subtitle-wrapper .subtitle {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 376px) {
  .whatwedo-container .achievement-wrapper .achievement-subtitle-wrapper .subtitle {
    width: 156px;
    height: 24px;
  }
}
.whatwedo-container .achievement-wrapper .achievement-subtitle-wrapper .subtitle .deactive {
  color: #ADADAD;
}
.whatwedo-container .achievement-wrapper .achievement-subtitle-wrapper .subtitle .content {
  color: #232340;
  font-weight: 600;
}
@media screen and (max-width: 376px) {
  .whatwedo-container .achievement-wrapper .achievement-title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}
.whatwedo-container .achievement-wrapper .project-counter-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 376px) {
  .whatwedo-container .achievement-wrapper .project-counter-wrapper {
    width: 194px;
    height: 191px;
  }
}
.whatwedo-container .achievement-wrapper .project-counter-wrapper .project-counter {
  color: #5468E7;
  font-size: 140px;
}
.whatwedo-container .achievement-wrapper .project-counter-wrapper h6 {
  font-weight: 600;
}
.whatwedo-container .image-wrapper {
  display: flex;
}
@media screen and (max-width: 376px) {
  .whatwedo-container .image-wrapper {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 375px;
  }
}
@media screen and (max-width: 376px) {
  .whatwedo-container .image-wrapper .img-desktop {
    display: none;
  }
}
.whatwedo-container .image-wrapper .phone-mobile {
  display: none;
}
@media screen and (max-width: 376px) {
  .whatwedo-container .image-wrapper .phone-mobile {
    display: block;
    width: 350px;
    height: 460px;
    margin-bottom: 56px;
  }
}
@media screen and (max-width: 376px) {
  .whatwedo-container .image-wrapper .pagination {
    width: 69px;
    height: 12px;
  }
}/*# sourceMappingURL=style.css.map */